<footer class="footer fixed-bottom">
    <div class="minhaDiv text-center">
        <span>dinnerdash | todos os direitos reservados</span>
        <span>desenvolvido por Conrado N.</span>
    </div>
</footer>