@import 'bootstrap';

// overriding css stuff //
.btn {
  margin-left: 20px;
  margin-bottom: 100px;
}

.form-control {
  cursor: pointer;
  margin-left: 20px;
}
// ---------------------------- //

* {
  box-sizing: border-box;
}

html {
  font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a:hover {
  text-decoration: none;
  color: yellow; 
}


/* Classes */

.link_color{
  color: #F2F2F2;
}

.margin_div{
  margin-left: 4em;
  margin-top: 9em;
}

.margin_div_dinnerdash{
  margin-left: 4em;
}

.margin_div_dinnerdash2{
  display: flex;
  flex-direction: row;
  margin-right: 5em;
}

.space_between{
  padding-right: 10px;
}

.restaurant_img {
  background-image: url("restaurant.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  height: 55vh;
  width: 100vw;  
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around; // Se mudar pra flex_start começa no inicio da linha e n na meiuca
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}


.meal_box {
  width: 18.5vw;
  height: 64vh;
  background-color: white;
  overflow: hidden;
  border-style: solid; 
  border-width: 0.1px;
  border-color: #DEDEDE; 
}

.cart_box {
  display: flex;
  width: 40vw;
  height: 20vh;
  background-color: white;
  overflow: hidden;
  margin-top: 4px;
  margin-bottom: 4px;
}

.meals_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  height: 27vh;
  width: 252.7px;  
  color: white;
  position: relative; 
}

.cart_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  height: 19vh;
  width: 10vw;  
  color: white;
  position: relative;
  margin-right: 5px; 
}

.footer {
  margin-top: 1em;
  background: #F2F2F2;
}

.title_spacing{
  margin-left: 132px;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cart_info {
  color: #ACACAC;
  font-weight: bold;
}

.cart_spacing {
  margin-right: 1vw;
}

/* IDS */

#header_font {
  font-size: 5em;
}

#img_desc {
  background-color: #2E1E1A;
  padding-top: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 252.7px;
  height: 6vh;
  position: absolute;
  bottom: 0;
  opacity: 0.8;
  z-index: 1;
}

#qtd_style {
  color: #ACACAC;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

#qtd_cart{
  color: #ACACAC;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 4px;
}

#food_desc {
  color: #ACACAC;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  height: 7vh;
  overflow: hidden;
}



#price_desc {
  color: #3AC86F;
  font-weight: bold;
  margin-left: 10px;  
  margin-top: 10px;
}

#cart_btn {
  margin-top: 15px;
}

#hr_line {
  background-color: #2E1E1A;
}