<%= stylesheet_link_tag "meals" %>
<br>
<br>
<footer class="footer bottom">
    <div class="minhaDiv text-center">
        <span>dinnerdash | todos os direitos reservados</span>
        <span>desenvolvido por Conrado N.</span>
    </div>
</footer>