<table>
    <tr>
        <th>Nome</th>
        <th>Número de Refeições</th>
        <th colspan="3">Cadastrada em</th>
    </tr>
    <tr>
        <td> <%=@category.name %> </td>
        <td> <%= @category.quantity%> </td>
        <td></td>

    </tr>
</table>

<%= link_to 'Remove', @category, method: :delete, data: {confirm: 'Tem certeza?'}%>

