<div class="headImage">
	<span class="dinnerdash">dinnerdash</span>
	<div class="float"><span>backoffice | perfil | sair</span></div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h1>Backoffice</h1>
	<h3>Gerencie pedidos, refeições e mais.
</div>
<div class="navbar">
	<span>Pedidos </span><span>Usuários </span><span>Refeições </span><span>Categorias de Refeição </span>
</div>